*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  display: grid;
  place-items: center;
  height: 100vh;
}
main{
  display: grid;
  grid-template-areas:
    'a a a b b'
    'c c d d d'
    'c c e e e'
  ;
  gap: 10px;
  width: 50%;
  margin: auto;
}
main div{
  padding: 2em;
  text-align: center;
  border-radius: 5px;
}
.item-a{
  background-color: #c5111a;
  grid-area: a;
  
}
.item-b{
  background-color: #7c7c03;
  grid-area: b;
  height: 15vh;
}
.item-c{
  background-color: #0a990a;
  grid-area: c;
}
.item-d{
  background-color: #24b2a8;
  grid-area: d;
  display: in-line grid;
}
.item-e{
  background-color: #24b2a8;
  grid-area: e;
}